//define some variables for colours
$bg-color-primary: #050505;
$bg-color-2: #0a0a0a;
$font-color-1: #e0e0e0;
$font-color-link: #ecb063;
$border-color-1: #3e3e3e;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "SF-Pro-Display";
    src: url("fonts/SF-Mono-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'SF-Pro-Display', sans-serif;
  margin: 0;
  padding: 0;

  background-color: $bg-color-primary;

  H1 {
    color: $font-color-1;
  }
  p{
    color: $font-color-1;
  }
  h{
    color: $font-color-1;
  }
}

.landing-page{
  height: 100vh; //100% of the viewport height

  //display:flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;


}

.top_info_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //padding: 15px 40px;
  padding: 1% 4%;
  z-index: 20;

  //position: fixed;
  //top: 0;
  //left: 0;
  //right: 0;

  .top_info_header_left{
    border: 1px solid #333;
    padding-left: 10px;
    padding-right: 10px;
  }

  div{
    padding: 0px 0px;
  }

  p{
    font-size: 0.8rem;
  }

  a{
    font-size: 0.8rem;
    color: $font-color-link;
    text-decoration: none;
  }

  .top_info_header_second{
    z-index: 30;
    padding-left: 3%;
  }

  .navigation {
    list-style: none;
    //display: flex;
    //justify-content: flex-end;
    //gap: 20px;

    a {
      text-decoration: none;
      color: $font-color-link;
      //font-size: 1.1rem;
    }

    a:hover {
      color: #ccc;
    }
  }

  .top_info_header_third{

    //display: block;
    opacity: 1;
    visibility: visible;
    max-width: 100%;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, width 0.5s ease-in-out; // Fade-in effect

    @media (max-width: 800px) {
      opacity: 0;
      visibility: hidden;
      max-width: 0;
      pointer-events: none;
      //display: none;
    }
  }

  .top_info_header_right{
    z-index: 30;
  }

}

/*
nav ul {
  list-style-type: none; // Remove default list styling
  padding: 0;
  margin: 0;
  display: flex; // Make the list items horizontal
  justify-content: center; // Center the list items horizontally
}

nav li {
  margin: 0 10px; // Add some space between the buttons
}

nav a {
  text-decoration: none; // Remove underline from links
  color: #e0e0e0; // Set the text color
  padding: 10px 20px; // Add padding to the links
  background-color: #333; // Set background color
  border: 1px solid #444; // Add border
  transition: background-color 0.3s, color 0.3s; /* Add transition for hover effect

  &:hover {
    background-color: #050505; // Change background color on hover
    color: #fff; // Change text color on hover
  }
} */

header {
  background-color: $bg-color-primary;
  padding: 20px;
  text-align: center;
  //border-bottom: 1px solid $border-color-1;
  //border-top: 1px solid $border-color-1;
}

.special-header { //margins adjusted by javascript now
  //padding-left: -100px;
  //padding-right: -100px;
  height: 100vh;
  margin-left: -200px;
  margin-right: -200px;
  //margin-bottom: -300px; //glitches the sort button
  margin-bottom: 100px;
  margin-top: -150px;
  background-color: $bg-color-primary;
  text-align:center;
  overflow: hidden;
  z-index: 1;
}

#filters { //section for the filters such as sort button, project type checkboxes
  padding: 20px;
  background-color: $bg-color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  //border-bottom: 1px solid $border-color-1;
  //border-top: 1px solid $border-color-1;

  #project-types {
    margin-right: 20px;

    input[type="checkbox"] {
      appearance: none;
      width: 20px;
      height: 20px;
      background-color: $bg-color-primary;
      border: 1px solid #444;
      //border-radius: 4px;
      cursor: pointer;
      position: relative;
      //margin-right: 10px;
      transition: background-color 0.3s, border-color 0.3s;

      &:checked {
        background-color: #444;
        border-color: #fff;

        &::after {
          content: '\2715'; /* 2716 also works */
          color: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 14px;
        }
      }
    }

    label {
      color: #e0e0e0;
      margin-right: 20px;
      cursor: pointer;
      //display: flex;
      align-items: center;
    }
  }

  button { //the sort button
    //border-radius: 10px;
    z-index: 20;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #050505;
      color: #fff;
    }
  }
}

#projects-grid { //the grid that holds the projects
  display: grid;
  gap: 20px;
  padding: 20px;
  background-color: $bg-color-primary;

  .project {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
    background-color: $bg-color-primary;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    img {
      max-width: 100%;
      height: auto;
      border-bottom: 1px solid #333;
      margin-bottom: 10px;
    }

    h3 {
      color: #e0e0e0;
    }

    p {
      color: #b0b0b0;
    }
  }
}

@media (min-width: 100px) {
  #projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  #projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  #projects-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}


 /*
@media (min-width: 100px) {
  #projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 700px) {
  #projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1210px) {
  #projects-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1400px) {
  #projects-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
*/